body {
      margin: 0;
      background-color: rgb(15, 25, 30);
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      color: white;
}

header {
      height: 100px;
      background-color: rgb(8, 33, 41);
}

.content {
      flex: 1;
}

.card-area {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}

.load-more-section {
      height: 75px;
      gap: 32px;
}

footer {
      height: 100px;
      background-color: rgb(8, 33, 41);
}
